*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

.head{
    padding-left: 2%;
    padding-top: 2%;
    padding-right: 2%;
}

.space{
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    margin-right: 20%;
}

.font{
    font-weight: bold;
}

.space .school img{
    width: 20%;
    height: 20%;
    padding-top: 2%;
}